doctype html
html(lang="ru")
    head
        include components/head
    body
        header.header
        main.container
            h1.text-center slkdfjsdlkj
            section.row
                .col
                    h2.text-center sdlkfjdlskj
            section.row.sti
            section.all


        footer

        include components/scripts
