doctype html
html(lang="ru")
    head
        include components/head
    body.container
        header.header.container
        section.row
            h1.text-center vjq gthdsq cfqn
        footer

        include components/scripts
