doctype html
html(lang="en")
    head
        include components/head

    body
        header.header.container
            .row
                .col-md-6.text-center
                    h1.text-center Привет, мир!
                    p норм так
                    p норм так
                    p заработало
